.form {
    display: flex;
    flex-direction: column;
    background-color: #075e54;
    width: 45rem;
    height: 37rem;
    justify-content: center;
    margin: auto auto;
    border-radius: 1.5%;
    box-shadow: -1px 4px 20px -6px rgba(0, 0, 0.75);
    padding: auto;
    overflow: hidden;
}

.form > .MuiSvgIcon-root {
    font-size: 10rem;
    margin: 0 auto;
    color: 	#25d366;
}

.form > form {
    flex: 0.65;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form__data {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.form__inputValid {
    width: 100%;
    height: 2.1rem;
    padding: 2px;
    padding-right: 13px;
    contain: content;
    margin-bottom: 5px;
}


.form__input {
    width: 100%;
    height: 1.5rem;
    margin: 3px;
    border-radius: 5px;
    border: 1px ;
    outline-width: 0;
    box-sizing: content-box;
    border: 1.5px solid floralwhite;
    transition: outline 0.2s,
}

.form__input:focus {
    border: 1.5px solid rgb(0, 243, 182);
    outline: 3px solid rgba(0, 243, 182, 0.596);
}

.form__button {
    border-radius: 100px;
    border: none;
    width: 100%;
    height: 1.5rem;
    border: 1.5px solid floralwhite;
    transition: outline 0.2s,
}

.form__button:focus {
    border: 1.5px solid rgb(0, 243, 182);
    outline: 3px solid rgba(0, 243, 182, 0.596);
}
